:root {
  --main-white: #e9e9e9;
  --main-lighestgrey: #acacac;
  --main-hovergrey: #474747;
  --main-lightgrey: #2e2e2e;
  --main-gray: #272727;
  --main-darkestgrey: #212121;
  --main-black: #121212;
  --main-darkestlavander: #18161b;
  --main-nightlavander: #363438;
  --main-darklavander: #bd7ffc;
  --main-mutedlavander: #5b466f;
  --main-lavander: #bb86fc;
  --main-welcomelavander:#ad83df;
  --main-lightlavander: #c495fd;
  --main-mutedmint: #164f49;
  --main-mint: #02dac5;
}


html {
  background: var(--main-darkestlavander);
  background-size: cover;
  text-align: center;
  font-size 10px;
}

body {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 90vh;
}

.clock {
  width: 19rem;
  height: 19rem;
  border: 9px solid rgba(40,40,40,0.20);
  border-radius: 50%;
  margin: 50px auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
             inset 0 -15px 15px rgba(255, 255, 255, 0.05),
             0 15px 15px rgba(0,0,0,0.05),
             inset 0 15px 15px rgba(0,0,0,0.05);
  background: url(https://raw.githubusercontent.com/valemescudero/JS300Days/main/clock.png);
background-size: cover; 
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand {
  height: 3px;
  background: var(--main-white);
  position: absolute;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
}
.hour-hand{
  width: 35%;
  margin-left:-35%;
}
.minute-hand{
  width: 41%;
  margin-left:-40%;
}
.second-hand{
  width: 46%;
  margin-left:-45%;
}
